//主题色
$primary1 = #409EFF;
$primary2 = #67C23A;
$primary3 = #52CCF1;

//字体颜色
$color1= #3794F4
$color2 = #FBFBFB
$color3 = #303133

.color1{
    color $color1
}
.color2{
    color $color2
}
.color3{
    color $color3
}

.color4{
    color $primary2
}