.form{
    width 80%
    margin 10px auto
}
.btnAdd {
  margin-left: 20px;
}
.font1>>>.el-form-item__label {
  font-size: 20px;
  text-align: center;
}

div>>>.el-dialog__body {
  padding: 20px 50px;
}

div>>>.el-dialog__title {
  color: $color1;
  font-size: 30px;
}